h1 {
    color: #007bff;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

.card h2 {
    color: #007bff;
    font-size: 24px;
}

form input, form select {
    border-radius: 5px;
}

form button {
    border-radius: 5px;
    padding: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.saved-books-list {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* Allow content to grow vertically */
    padding-left: 0px;
}

.book-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    padding: 20px;
    padding-left: 0px;
}

.book-card:hover {
    transform: scale(1.05); /* Scale the card on hover */
}

.book-title {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #333; /* Title color */
}